body{
  background-color:#eeeeee;width:1024px;
  margin-left:auto;margin-right:auto;
}
h3{font-weight:bold;font-size:20px;}
.content{margin-top:10px;}
@media screen and (max-width:600px){
  body{width:100%;text-align:center;}
  ul{text-align:left;}
}
